// app global css in SCSS form

@font-face{
    font-family: roboto;
    src: url(../../public/fonts/Roboto-Regular.ttf);
}


body{
    font-family: roboto;
    width:100%;
    background-color: #F2F2F2;
    background-image: url('../../public/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right top;
}

.font-country{
  font-size:36px;
}

.font-Header{
  font-size:36px;
  font-weight: bold;
}

.font-page{
  font-size:28px;
  font-weight: bold;
}

.font-graph{
  font-size:24px;
}

.font-content{
  font-size:18px;
}

.font-footer{
  font-size:14px;
}

.brx{
    border:1px solid #f00;
}

.bg1{
    background-color: #ED544E;
}

.bg2{
    background-color: #21853D;
}

.bg3{
    background-color: #DFEFFF;
}

.bg4{
    background-color: #283891;
}

.bg5{
    background-color: #2381B8;
}

.bg6{
    background-color: #EB1E63;
}

.bg7{
    background-color: #F99704;
}

.bg8{
    background-color: #2D9687;
}

.bg9{
    background-color: #9C26B3;
}

.bg10{
    background-color: #8D273D;
}

.container{
    max-width:1024px;
    width: 100%;
    margin:auto;
    
}