// app global css in SCSS form

@font-face{
    font-family: roboto;
    src: url(../../public/fonts/Roboto-Regular.ttf);
}


body{
    font-family: roboto;
    width:100%;
    background-color: #F2F2F2;
    background-image: url('../../public/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right top;
}

.font-country{
  font-size:36px;
}

.font-Header{
  font-size:36px;
  font-weight: bold;
}

.font-page{
  font-size:28px;
  font-weight: bold;
}

.font-graph{
  font-size:24px;
}

.font-content{
  font-size:18px;
}

.font-footer{
  font-size:14px;
}

.brx{
    border:1px solid #f00;
}

.bg1{
    background-color: #ED544E;
    color:white;
}

.bg2{
    background-color: #21853D;
    color:white;
}

.bg3{
    background-color: #DFEFFF;
    color:rgb(70, 70, 70);
}

.bg4{
    background-color: #283891;
    color:white;
}

.bg5{
    background-color: #2381B8;
    color:white;
}

.bg6{
    background-color: #EB1E63;
    color:white;
}

.bg7{
    background-color: #F99704;
    color:white;
}

.bg8{
    background-color: #2D9687;
    color:white;
}

.bg9{
    background-color: #9C26B3;
    color:white;
}


.bg10{
    background-color: #8D273D;
    color:white;
}


.color1{
    color: #ED544E;
    
}

.color2{
    color: #21853D;
    
}

.color3{
    color: #DFEFFF;
}

.color4{
    color: #283891;
    
}

.color5{
    color: #2381B8;
    
}

.color6{
    color: #EB1E63;
    
}

.color7{
    color: #F99704;
    
}

.color8{
    color: #2D9687;
    
}

.color9{
    color: #9C26B3;
    
}

.color10{
    color: #8D273D;
    
}

.container{
    max-width:1024px;
    width: 100%;
    margin:auto;
}