// app global css in SCSS form

@font-face{
    font-family: roboto;
    src: url(../../public/fonts/Roboto-Regular.ttf);
}


body{
    font-family: roboto;
    width:100%;
    background-color: #F2F2F2;
    background-image: url('../../public/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right top;
}

.brx{
    border:1px solid #f00;
}

.bg1{
    background-color: #ED544E;
}

.bg2{
    background-color: #21853D;
}

.bg3{
    background-color: #DFEFFF;
}

.bg4{
    background-color: #283891;
}

.container{
    max-width:1024px;
    width: 100%;
    margin:auto;
    
}